- if faqs.present?
  .section.faq
    .section-header.header
      FAQ
    .section-text
      %ul
        - faqs.each do |faq|
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#faq#{faq.id}", "aria-expanded" => "false", "aria-controls" => "faq#{faq.id}"}
              = faq.question
            .collapse{id: "faq#{faq.id}"}
              %p
                .trix-content
                  = faq.answer.html_safe
