.section.iniaitives
  .section-header.header
    Initiatives
  - if group.charities.present?
    .section-text
      #charity-carousel.carousel.slide.initiatives-carousel{"data-ride" => "carousel"}
        %ol.carousel-indicators
          - group.charities.each_with_index do |_, index|
            %li{"data-slide-to" => index, "data-target" => "#charity-carousel", class: [index.zero? && "active"]}
        .carousel-inner{:role => "listbox"}
          - group.charities.each_with_index do |charity, index|
            %div{class: ["item", index.zero? && "active"]}
              = image_tag(charity.banner_image_url)
              .carousel-caption
                = link_to charity.donation_url, :target => "_blank" do
                  .header= charity.name
                  .subtitle= charity.description
        %a.left.carousel-control{"data-slide" => "prev", :href => "#charity-carousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.right.carousel-control{"data-slide" => "next", :href => "#charity-carousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only Next

  .trix-content
    = group.detail && group.detail.initiatives.html_safe