.row
  .col-sm-8
    = form_for @group do |f|
      - if @group.errors.any?
        #error_explanation
          %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
          %ul
            - @group.errors.full_messages.each do |message|
              %li= message

      .field.form-group
        = f.label :name, class: 'control-label'
        = f.text_field :name, class: 'form-control'
      .field.form-group
        = f.label :donation_url, class: 'control-label'
        = f.text_field :donation_url, class: 'form-control'
      .field.form-group
        = f.label :homepage_banner_image, class: 'control-label'
        = f.text_field :homepage_banner_image, class: 'form-control'
      .field.form-group
        = f.label :logo_image, class: 'control-label'
        = f.text_field :logo_image, class: 'form-control'
      .field.form-group
        = f.label :favicon_image, class: 'control-label'
        = f.text_field :favicon_image, class: 'form-control'
      .field.form-group
        = f.label :favicon_image_16_by_16, class: 'control-label'
        = f.text_field :favicon_image_16_by_16, class: 'form-control'
      .field.form-group
        = f.label :favicon_image_32_by_32, class: 'control-label'
        = f.text_field :favicon_image_32_by_32, class: 'form-control'
      .actions
        = f.submit 'Save', class: 'btn btn-primary'
